__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
.vscode/
.coverage
.cache
nosetests.xml
coverage.xml
MANIFEST
.installed.cfg
env.sh


*workspace
*.py[cod]
*.egg-info/
.*.swp
.coverage.*
junit*.xml
*.cover
*.egg
*.manifest
*.spec
*.log
*.con
*.out
*-env.sh
